.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.btn {
    width: 250px;             /* Lebar dikunci sama */
    padding: 15px 0;          /* Tinggi dikunci sama */
    color: white;             /* Teks tetap putih untuk semua tombol */
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}




.btnNo {
    background-color: #e74c3c; /* Merah untuk tombol "No" */
}
.btnYes {
    background-color: #2ecc71; /* Hijau untuk tombol "Yes" */
}